.kanban {
	min-height: 100%; /* Minimum height for modern browsers */
	height: 80%; /* Minimum height for IE */
}

.layer {
	float: left;
	padding: 10px;
	text-align: center;
	border-right: solid 1px #DCDCDC;
	min-width: 200px;
	min-height: 500px;
	height: 100%;
}

.layer h2 {
	padding-bottom: 10px;
}

.requirement {
	text-align: left;
	padding: 10px;
	border: 1px solid #D8D8D8;
	margin-bottom: 5px;
	min-width: 150px;
	background-color: #F2F5A9;
}