html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.layer {
	float: left;
	padding: 20px;
	text-align: center;
	border-left: solid 1px #DCDCDC;
	border-right: solid 1px #DCDCDC;
	min-width: 200px;
	min-height: 100%;
}